In [1]:
a = dict()
a['호송'] = 5

In [3]:
a['하민'] = 3

In [10]:
for e in a:
    print(a[e])

5
3

In [43]:
import os
import urllib.parse as up
import psycopg2, datetime
from flask import Flask, render_template, request, redirect, session, jsonify
from flask_restx import Api, Resource
from sqlalchemy import create_engine
import csv
import datetime
import numpy as np
import math
import pandas as pd

app=Flask(__name__)
api = Api(app)

up.uses_netloc.append("postgres")
os.environ["DATABASE_URL"] = "postgres://yadctsip:mvZ_FWEhIcFp4PCZMlzUtdZivUkj1IBG@arjuna.db.elephantsql.com/yadctsip"
url = up.urlparse(os.environ["DATABASE_URL"])

connect = None

def conn():
    connect = psycopg2.connect(database=url.path[1:],
                            user=url.username,
                            password=url.password,
                            host=url.hostname,
                            port=url.port)
    return connect

In [83]:
connect = conn()
cur = connect.cursor()
my_dx = 126.402872
my_dy =  33.2665421
cur.execute("select station_id, station_name, dx, dy from station")
data = cur.fetchall()

charger_distance = dict()
for e in data:
    charger_id = e[0]
    charger_name = e[1]
    charger_dx = e[2]
    charger_dy = e[3]
    charger_distance[charger_id] = math.sqrt((abs(charger_dx - my_dx)*math.cos(charger_dy)*6400*2*math.pi/360)**2 + (111 * abs(charger_dy-my_dy))**2)

charger_distance
candidate = list(filter(lambda x: charger_distance[x] < 1, charger_distance))
df = list(filter(lambda x: x[0] in candidate, data))
distance = []
for e in charger_distance:
    if e in candidate:
        distance.append(charger_distance[e])
lst = []
for i in range(len(distance)):
    lst.append(tuple(list(df[i][0:]) + [distance[i]]))

lst = sorted(lst, key = lambda x: x[3])
lst[:5]

[(485, '호텔아루미', 126.4139621, 33.25857411, 0.944928101315655),
 (496, '호텔더본제주', 126.4064992, 33.2595341, 0.7855107437618941),
 (495, '중문리조트', 126.4156439, 33.262578, 0.5870278904618121),
 (355, '중문관광단지충전소', 126.3979668, 33.2630671, 0.4136811929848967),
 (357, '중문미로파크', 126.3819347, 33.26339597, 0.7280573875126122)]

In [77]:
df

[('모던플레이스', 126.394765, 33.2679552),
 ('중문예촌펜션', 126.3938756, 33.2680297),
 ('㈜레이크힐스리조트제주', 126.376896, 33.2674383),
 ('중문관광단지충전소', 126.3979668, 33.2630671),
 ('황토기와집', 126.3952433, 33.26393747),
 ('중문미로파크', 126.3819347, 33.26339597),
 ('호텔아루미', 126.4139621, 33.25857411),
 ('중문리조트', 126.4156439, 33.262578),
 ('호텔더본제주', 126.4064992, 33.2595341)]